body {
	margin: 0px;
	padding: 0px;
	font-family: helvetica;
}

#container {
	padding: 5px;
}

#settings {
	//padding: 5px;
	//border: 1px solid gray;
	width: 200px;
	height: 20px;
}

#disclose_img {
	width:20px;
	height: 20px;
	float: right;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

#collapse {
	border: 1px solid gray;
	width: 100%;
	padding: 5px;
}

#roll_button {
	width: 47px;
	height: 40px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-color: gray;
	padding: 7px 5px 7px 5px;
}

#dice_container {
	height: 180px;
	width: 180px;
}

#prefs_top {
	padding: 5px;
	width: 100%;
	height: 20px;
	border: 1px solid gray;
	margin-bottom: 2px;
}

#prefs_top:hover {
	cursor: pointer;
}

.die {
	text-align: center;
	//padding-top: 10px;
	float: left;
	margin: 1px 2px 2px 0px;
	font: 15px helvetica, sans-serif;
	height: 80px !important;
	width: 80px;
	border: 1px solid gray;
	border-radius: 15px;
	-moz-border-radius: 7px;
}

#footer {
	font: 12px helvetica, sans-serif;
	background-color: white;
	margin: 0px;
	padding: 3px 0px 0px 3px;
	width: 100%;
	height: 15px;
	position: fixed;
	bottom: 0px;
	border-top: 1px solid gray;
}

#footer a {
	text-decoration: none;
	color: rgb(65, 131, 196);
}

#footer a:hover {
	text-decoration: underline;
	color: rgb(65, 131, 196);
}